<div class="container chatroom"  data-controller="chatroom-subscription"
 data-chatroom-subscription-friend-id-value="<%= @chatroom.id %>">
  <% if current_user.first_name == @chatroom.user_1.first_name %>
    <h1><%= @chatroom.user_2.first_name %></h1>
  <% else %>
    <h1><%= @chatroom.user_1.first_name %></h1>
  <% end %>

  <div class="messages" data-chatroom-subscription-target="messages">
  <% @chatroom.messages.each do |message| %>
  <%= render "friends/message", message: message %>
  <% end %>

  </div>
  <%= simple_form_for [@chatroom, @message],
  html: {class: "d-flex"} do |f|
%>
  <%= f.input :text,
    label: false,
    placeholder: " Send a Message",
    wrapper_html: {class: "flex-grow-1"}
  %>
  <%= f.submit "Send", class: "btn btn-primary mb-3" %>
<% end %>
</div>
