<div class="container chatroom"  data-controller="chatroom-subscriptions"
  data-chatroom-subscriptions-chatroom-id-value="<%= @chatroom.id %>" data-current-user-id="<%= current_user.id %>">
  <h1><%= @chatroom.friend(current_user).first_name %></h1>
  <div class="messages" data-chatroom-subscriptions-target="messages">
    <% @chatroom.messages.each do |message| %>
      <div class="message-row d-flex <%= message.sender_id == current_user.id ? 'justify-content-end' : 'justify-content-start' %>">
        <div class="<%= message.sender_id == current_user.id ? 'sender-style triangle right-top' : 'receiver-style triangle left-top' %>">
          <div class="message-content">
            <%= render "messages/message", message: message %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= simple_form_for [@chatroom, @message], html: {class: "d-flex", data: {action: "turbo:submit-end->chatroom-subscriptions#resetForm"}} do |f|%>
    <%= f.input :text,
    label: false,
    placeholder: " Send a Message",
    wrapper_html: {class: "flex-grow-1"}
    %>
    <%= f.submit "Send", class: "btn btn-primary mb-3" %>
  <% end %>
</div>
