<%= @call.id %>
<%= current_user == @call.caller %>
<div class="video-container">
  <div id="vonage-video"
      data-controller="vonage"
      data-vonage-api-key="<%= ENV.fetch('VONAGE_API_KEY', nil) %>"
      data-vonage-session-id="<%= @call.session_id %>"
      data-vonage-token="<%= @token %>"
      data-vonage-name="<%= current_user.first_name%>">
  </div>
  <%= button_to "next", next_call_path(@call), method: :patch %>
</div>
