<footer>
  <div class="nav-icon">
  <%= link_to root_path do %>
    <div class="photo-link">
      <div class="home-photo"></div>
      <a class="footer-text">home</a>
    </div>
  <% end %>
</div>
  <div class="nav-icon">
    <%= link_to new_user_flashcard_path do %>
      <div class="photo-link">
        <div class="flashcard-photo"></div>
        <a class="footer-text">create</a>
      </div>
    <% end %>
  </div>
  <div class="nav-icon">
    <div class="photo-link">
      <%= link_to "/categories" do %>
        <div class="review-photo"></div>
        <a class="footer-text">review</a>
      <% end %>
    </div>
  </div>
  <div class="nav-icon">
    <%= link_to root_path do %>
    <div class="photo-link">
        <%= link_to calls_path do %>
          <div class="video-photo"></div>
          <a class="footer-text">chat</a>
        <% end %>
      <% end %>
    </div>
  </div>
</footer>
