<div class="nav-icon">
  <%# <%= link_to "#", class: "photo-link" do %>
  <div class="photo-link">
    <div class="icon-photo"></div>
    <%# <%= image_tag "footer_icons/flash-cards-bold.png" %>
    <p class="footer-text">create</p>
  </div>

</div>

<div class="nav-icon">
  <%= link_to "categories#show", class: "photo-link" do %>
    <%# <%= image_tag "footer_icons/reading-book.png", class: "icon-photo" %> %>
    <p class="footer-text">review</p>
  <% end %>
</div>

<div class="nav-icon">
  <%= link_to "#", class: "photo-link" do %>
  <%# <%= image_tag "footer_icons/live-chat.png", class: "icon-photo" %> %>
  <p class="footer-text">chat</p>
  <% end %>
</div>
