<section>
  <div class="home-wrapper">
    <h2>Hi <%= current_user.first_name.capitalize %>!</h2>
    <div class="flashcards--container">
      <div class="title-container">
        <h4 class="block-title">Words for today:</h4>
        <%# <div class="add"> %>
          <%= link_to new_user_flashcard_path, class: "button--container" do %>
            <i class="fa-solid fa-circle-plus fa-2xl add-button" style="color: #5B4CFF;"></i>
          <% end %>
        <%# </div> %>
      </div>
      <div class="flashcard-grid" data-controller="flip-card">
        <% if @translations.empty? %>
          <p class="notice-text"><%= "Let's create your first flashcard!😉🔖" %></p>
        <% else %>
          <% @translations.each_with_index do |translation, index| %>
            <div class="flashcard-container">
              <div class="flashcard" data-flip-card-target="flip" data-action="click->flip-card#flipCard" data-id="<%= index %>">
                <div class="flashcard-front">
                  <%= translation.primary_language_word %>
                </div>
                <div class="flashcard-back">
                  <%= translation.target_language_word %>
                </div>
              </div>
            </div>
          <% end %>
        <% end%>
      </div>
    </div>
    <%= link_to calls_path do %>
      <div class="btn-img-container">
        <h4 class="block-title">Let's practice speaking!</h4>
        <%= image_tag "Group27.png", class: "home-image", alt: "Home image" %>
      </div>
    <% end %>
  </div>
</section>
