<section class="flash-background">
  <div class="container"data-controller="create-hover">
    <div class="sub_container">
      <p class="Text-Flash">Create your Flashcard:</p>
      <div class="flashcard_word">
        <input type="text" name="word" id="word-flashNew" placeholder="Type your word here" data-create-hover-target="wordInput">
        <span class="line"></span>
        <h5>Translation here</h5>
      </div>
    </div>
    <%= form_with(model: @category url: categories_path(@category) method: "post") do |form| %>
      <div class="autocomplete" data-controller="flashcard-categories" data-flashcard-categories-category-value="<%= @categories %>">
        <%= f.text_field id:"search-box", data:{flashcard_category_target: "searchBox", create_hover_target: "boxSearch", action: "keyup->flashcard-categories#showSuggestions" } placeholder:"Write your Category" %>
        <ul id="suggestions" data-flashcard-categories-target="suggestions"></ul>
      </div>
      <div class="btn-container">
        <%= f.submit "Confirm" class:"home-btn flash-btn", data:{create_hover_target: "hover", action: "click->create-hover#changeColor click->create-hover#togglePopup"} %>
      </div>
    <% end %>
    <div id="custom-popup" class="popup" data-create-hover-target="popupContainer">
          <div class="popup-content">
            <p class="popupText">Saved!</p>
            <%= button_tag 'Continue', class: "popup-btn", id: 'continue-popup-button', "data-action" => "click->create-hover#continue click->reset-inputs#resetInputs" %>
            <%= link_to 'Home', root_path, class: 'popup-btn', id: 'home-popup-button' %>
          </div>
        </div>
  </div>
</section>
